button {
  display: inline-grid;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: var(--brand-border_radius);
  background: var(--surface-document);
  cursor: pointer;

  &:focus:not(:focus-visible) { 
    outline: none 
  }

  &[primary] {
    background: var(--brand-primary);
    color: black;
  }

  &[light] {
    background: var(--surface-2);
    color: var(--text-1);
  }

  & > svg {
    width: 100%;
  }

  &:is([small-icon], [large-icon]) {
    padding: 0.25rem;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: var(--surface-2);
    }

    &:active {
      border-color: var(--brand-primary);
    }
  }

  &[small-icon] {
    width: 2rem;
    height: 2rem;
  }

  &[large-icon] {
    width: 3rem;
    height: 3rem;
  }
}