deal-card {
  border-radius: var(--brand-border_radius);
  box-shadow: 0 1rem 6rem hsla(0,0%,0%,.2);

  & > div:first-child {
    border-bottom: 1px solid var(--surface-3);

    & p {
      margin: 0 0 0.25rem 0;
      font-size: 1.1rem;
    }

    & small {
      color: var(--text-2);
      font-size: 0.8rem;
    }
  }

  & > picture > img {
    width: 100%;
    margin: 2rem 0;
  }

  & > button-list {
    padding: 1rem;
  }
}