.dot {
  --size: 0.5rem;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  background: var(--surface-2);
  border-radius: 50%;

  &[selected] {
    --size: 0.75rem;
    background: var(--brand-primary);
  }
}