a {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
  color: var(--text-2);

  &:not(:hover) {
    text-decoration: none;
  }

  &:hover {
    color: var(--brand-secondary);

    & > svg > .secondary {
      stroke: var(--brand-secondary);
      fill: var(--surface-2);
    }

    & > svg > .primary {
      fill: var(--brand-secondary);
    }
  }

  &:focus:not(:focus-visible) { 
    outline: none 
  }

  & > svg {
    width: 1rem;
    height: 1rem;
  }
}