header {
  margin-bottom: 1rem;

  @media (width <= 768px) {
    padding-right: 1rem;
  }

  & > h3 {
    font-size: 1.5rem;
    margin: 0;

    & > a {
      margin-left: 0.5rem;
      font-size: 0.5em;
    }
  }
}