.mural-card {
  margin: 0;
  border-radius: var(--brand-border_radius);
  overflow: hidden;

  & > figcaption {
    padding: 4rem 2rem 1rem;
    color: white;
    background: linear-gradient(to top, hsl(0 0% 0% / .9), hsl(0 0% 0% / 0));

    @media (width < 480px) {
      padding: 4rem 1rem 1rem;
    }

    & > h3 > small {
      font-weight: normal;
    }

    & > :is(h3,p) {
      margin: 0;
    }

    & > p {
      font-size: 1.4rem;
      line-height: 1.1;

      & > svg {
        fill: white;
        height: 2rem;
      }
    }
  }
}