deal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div:first-child {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    padding: 1rem;
  }
}