hero-featured {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "card mural1"
    "card mural2";

  margin-right: var(--body-rails);

  @media (width <= 768px) {
    margin: 0 1rem;
  }

  & > deal-card                 { grid-area: card;  }
  & > .mural-card:first-of-type { grid-area: mural1; }
  & > .mural-card:last-of-type  { grid-area: mural2; }

  @media (width < 520px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      'card'
      'mural1'
      'mural2';
  }
}
