nav {
  height: var(--body-rails);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: var(--body-rails) minmax(min-content, var(--sidebar-width)) minmax(min-content, var(--search-width)) 1fr var(--body-rails);

  position: sticky;
  top: 0;

  & > :is(:first-child, :last-child) {
    justify-self: center;
  }

  @media (width >= 500px) {
    & > icon-button-list > button[search] {
      display: none;
    }
  }

  @media (width <= 500px) {
    & > search {
      width: 0;
      overflow: hidden;
    }
  }

  @media (width <= 350px) {
    & > brand {
      width: 0;
      overflow: hidden;
    }
  }
}