hero-chips {
  display: grid;
  grid-auto-columns: 20rem;
  grid-auto-flow: column;
  gap: 1rem;

  & > figure {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;

    & > figcaption {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
  }

  & p {
    flex: 2;
    display: inline-flex;
    align-items: flex-start;
  }
}